<div class="container">
    <h2>Transactions</h2>
     <!-- Sorting Dropdown -->
     <label for="sort">Sort by:</label>
     <select id="sort" (change)="sortTransactions($event)">
       <option value="date-desc">Date (Newest First)</option>
       <option value="date-asc">Date (Oldest First)</option>
       <option value="amount-desc">Amount (High to Low)</option>
       <option value="amount-asc">Amount (Low to High)</option>
     </select>

     <div class="filter-section">
      <label>
        <input type="checkbox" (change)="toggleFilter('PENDING', $event)">Pending
      </label>
      <label>
        <input type="checkbox" (change)="toggleFilter('PAID', $event)">Paid
      </label>
     </div>
    <table>
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of filteredTransactions">
            <td>{{ transaction.itemName }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.date }}</td>
            <td [ngClass]="{'pending-status': transaction.status === 'PENDING',
            'paid-status': transaction.status === 'PAID'}">
              {{ transaction.status }} <button *ngIf="transaction.status === 'PENDING' "class = "mark-paid-btn" (click)="markAsPaid(transaction.transactionId)">Mark Paid</button></td>
          </tr>
        </tbody>
      </table>
</div>