<nav class="navbar" *ngIf="isLoggedIn()">
  <div class="nav-links">
    <a routerLink="/customers" routerLinkActive="active">Customer List</a>
    <a routerLink="/add-customer" routerLinkActive="active">Add Customer</a>
    <a routerLink="/transactions" routerLinkActive="active">All Transactions</a>
    <a routerLink="/reminders" routerLinkActive="active">Reminders</a>
  </div>
  <button class="logout-btn"(click)="logout()">Logout</button>
</nav>

<!-- <nav *ngIf="!isLoggedIn()">
  <a routerLink="/login" routerLinkActive="active">Login</a>
</nav> -->

<router-outlet></router-outlet>
