table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

button {
  background-color: #28a745;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
}

button:first-child {
  background-color: #007bff;
  color: white;
}

button:first-child:hover {
  background-color: #0056b3;
}

button:last-child {
  background-color: #28a745;
  color: white;
}

button:last-child:hover {
  background-color: #1e7e34;
}